<?xml version="1.0" encoding="UTF-8"?>
<suite name="PetStore API Tests" parallel="methods" thread-count="4">
    <test name="Store API Tests">
        <classes>
            <class name="com.petstore.tests.StoreTests"/>
            <class name="com.petstore.tests.StoreEdgeCasesTests"/>
            <class name="com.petstore.tests.StoreErrorTests"/>
            <class name="com.petstore.tests.PetTests"/>
        </classes>
    </test>
</suite>